*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
   
}
span{
    color: #CCCCCC;
}

.header{
    width: 100%;
    height: 80px;
    background: #FFD400;
    .logo{
        height: 40px;
        position: relative;
        width: 100%;
        div{
            width: 3rem;
            height: 20px;
            background:url(../img/logo.png) no-repeat;
            background-size: contain;
            position: absolute; left: 50%; top: 50%;
            transform: translate(-50%, -50%);  
        }
    }
    .header_item{
        width: 100%;
        height: 40px;
        overflow: hidden;
        .header_item_ul{
            width: 90%;
            height: 40px;
            margin: 0 auto;
            li{
                float: left;
                width: 20%;
                height: 70%;
                text-align: center;
                line-height: 28px;
                color: #4A1E0C;
            }
            .border1{
                background: #4A1E0C;
                color: #FFD400;
                border-radius: 1rem;
            }
        }
    }
}


.section{
    width: 100%;
    background: #ccc;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .content{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        background: white;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        .one{
            width: 100%;
            height: auto;
            overflow: hidden;
            margin: 5px 0;
            img{
               width: 30px;
               height: 30px;
               border-radius: 50%;
               margin-right: 5px;
            }
        }
        .two{
            width: 100%;
            height: auto;
            overflow: hidden;
            padding-bottom: 5px;
            .two1{
                width: 100%;
                padding: 5px 0;
                p{
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            .two2{
                width: 100%;
                height: auto;
                img{
                    width: 100%;
                    height: auto;
                    max-height: 300px;
                }
                
                
            }
            .af2{
                position: relative;
            } 
            .af2:after{
                content: "";
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: rgba(45,45,45,0.3) url(../img/bofang.jpg) no-repeat center;
                background-size: 100% 100%;
                z-index: 30;
                text-align: center;
                line-height: 50px;
               
            }
        }
         .there{
                width: 100%;
                height: auto;
                overflow: hidden;
                padding: 10px 0;
                border-bottom:1px solid aliceblue ;
                z-index: 3;
                position: relative;
                .there1{
                    float: left;
                    margin-right: 20px;
                    z-index: 10;
                    .sp1{
                        margin-right: 10px;
                        .color1{
                            color: orange;
                        }
                    }
                } 
                .there2{
                    float: left;
                    margin-right: 20px;
                     z-index: 3;
                    .sp2{
                        margin-right: 10px;
                        .color2{
                            color: orange;
                        }
                    }
                } 
                .there3{
                    float: left;
                    .sp3{
                        margin-right: 10px;
                    }
                } 
                .there4{
                    float: right;
                    .sp4{
                        margin-right: 10px;
                    }
                } 
            }
            .shenping{
                width: 100%;
                height: auto;
                overflow: hidden;
                padding: 3px 5px;
                .shenping1{
                    display: inline-block;
                    width: 30px;
                    height: 20px;
                    background:url(../img/shen.png);
                }
                .shenping2{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        
                }
            }
     }
    }

.tdiv{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(45,45,45,0.5);
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}


.iconfont{
  font-family:"iconfont" !important;
  font-size:20px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:url(../img/gotop.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    bottom: 30px;
    right: 30px;
    overflow: hidden;
}
