@charset"utf-8";
%slh{
    text-overflow:ellipsis ;
    white-space: nowrap;
    overflow:hidden;
    
}
.box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    .img-1{
        width: 30%;
        height: 40px;
        padding:10px 0px 0px 10px;
    }
    .img-2{
        width: 50%;
        height: 100%;
    }
    span{
        display: block;
        width:20%;
        height: 30px;
        border: 1px solid #CCC;
        text-align: center;
        line-height: 30px;
        border-radius: 8px;
        margin: 10px 10px 0px 0px;
        background:#4998E7;
        color: #fff;
        font-size:18px ;
    }
}
.header-div{
    width:100%;
    height: 80px;
    background:#4998E7; 
    .top,.bottom{
        width: 100%;
        height: 40px;
        color: #fff;
        span{
            display:block;
            float: left;
            width: 20%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            font-size:20px;
            i{
               margin:0px 5px 0px 0px ;
               border-width: 5px;
               border-style:solid ;
               border-color: #fff transparent transparent transparent;
               position: relative;
               top: 10px;
            }
        }
    }
}
section{
    width: 100%;
    height: 700px;
    overflow: auto;
    flex: 1;
    img{
       width: 100%;
       height: 200px; 
    }
    .section-div-1{
        width: 100%;
        height: 250px;
        p{
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size:18px;
            border-bottom: 1px solid #ccc;
            @extend %slh;
            span{
                height: 100%;
                color: #4998E7;
                font-size:18px;
                margin-left:10px;
                &:nth-of-type(2){
                    color: #ccc;
                    margin:0px 5px ;
                }
            }
            img{
                width: 40px;
                height: 18px;
                margin: 0px 0px 10px -5px;
            }
            &:nth-child(5){
               border-bottom:1px solid #fff; 
            }
            &:last-child{
                @extend %slh;
                background: #EDF6FF;
                color: #4998E7;
                text-align: center;
                margin:0px 10px 0px 15px;
                border-bottom:1px solid #fff;
                width: 90%;
                span{
                    color: #fff;
                    width: 15px;
                    height: 15px;
                    line-height: 40px;
                    background: #4998E7;
                    border-radius: 50%;
                }
            }
        }
    }
    .section-div-2{
        width: 100%;
        height: 450px;
        .div-2-1{
            width: 100%;
            height: 60px;
            margin-bottom: 10px;
            display: flex;
            background: #E9F1F6;
            span{
                flex: 1;
                font-size: 22px;
                border-top:2px solid #9AC7ED;
                line-height:50px;
                text-align:center; 
                color:#9AC7ED; 
                &:nth-of-type(1){
                    color: #C14545;
                    background: #fff;
                    border-top:2px solid #2A70BE;
                }
            }
        }
        .div-2-2{
            width:100%;
            height: 100px;
            border-bottom:1px solid #ccc;
            img{
                width: 100px;
                height: 100px;
                margin:0px 0px 0px 10px;
            }
            h2{
            @extend %slh;
            margin:-100px 0px 0px 120px;
            font-size: 20px;
            font-weight: normal;
            }
            p{
              @extend %slh;
              text-align: right;
              color: #ccc;
              margin: 5px 10px 0px 0px;
              span{
                  display:inline-block;
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                  background: url(../img/icon_v2.png)no-repeat -168px 0px;
              }
            }
        }
        .div-2-3{
            width: 100%;
            height: 350px;
            p{
                @extend %slh;
                font-size: 18px;
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #ccc;
                padding:0px 0px 0px 20px ;
                span{
                   display:inline-block;
                   margin: 0px 5px -10px 0px;
                   width:48px;
                   height: 30px;
                   background: url(../img/flagicon.png)no-repeat;
                   background-position:0px 0px ; 
                }
                &:nth-child(7){
                border-bottom:1px solid #fff; 
                }
                &:last-child{
                    margin:0px 10px 0px 10px;
                    background: #F6F5F5;
                    text-align: center;
                    line-height: 40px;
                    width: 90%;
                    height: 40px;
                    color: #B4B4B4;
                    border-bottom: 1px solid #fff;
                    i{
                        display:inline-block;
                        width: 25px;
                        height: 25px;
                        background: url(../img/icon_v3.png)no-repeat;
                        background-position:-1px -2px;
                        border-radius:50% ;
                        margin: 0px 0px -5px 5px;
                        
                    }
                }
            }
        }
        
    }
}
footer{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.8);
    .footer-img-1{
        width: 80px;
        height: 80px;
        position: fixed;
        top:400px;
        right: 0px;
    }
    .footer-img-2{
        float: left;
        margin-top: 6px;
        margin-left: 5px;
    }
    span{
        float: right;
        margin: 5px 20px 0px 0px;
        display: inline-block;
        width: 60px;
        height: 40px;
        color: #fff;
        background: #4998E7;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        border-radius:10px ;
    }
    i{
        float: right;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
}
